.component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  width: 200px;
  height: 200px;
  background-color: steelblue;
}

.customButton {
  margin-bottom: 100px;
  border: 0;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.customButton:hover {
  background-color: steelblue;
}

.customButton:focus {
  background-color: transparent;
}