body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background-color: #f3f3f3;
}

.todo i {
  z-index: 2;
}

.types {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.types h1 {
  margin-bottom: 2rem;
}

.types span {
  font-size: 20px;
  margin-bottom: 10px;
}

.link1 a.active {
  font-weight: 600 !important;
  color: red;
}

/* animation */
.entering {
  animation: anime 1000ms ease-out forwards;
}
.exiting {
  animation: anime 500ms ease-out alternate-reverse;
}
.exited {
  opacity: 0;
  transform: translateY(-500px);
  display: none;
}
@keyframes anime {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }

  50% {
    opacity: 0.7;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* animation */